 /*
    seletor {
        propriedade1: valor;
        propriedade2: valor;
    }
*/

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background: #fcfcfc;
 }

 h1 {
     color: #D507E3;
     font-size: 1rem;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     background: #98E2E4;

     margin-top: 20px;
     margin-right: 20px;
     margin-bottom: 20px;
     margin-left: 20px;

     margin: 20px 20px 20px 20px;
     /* 20px em cima, 20px na direita, 20px embaixo e 20px na esquerda */
     margin: 20px 50px 30px;
     /* 20px em cima, 50px na esquerda e 30px na direita */
     margin: 20px 40px;
     /* 20px em cima e embaixo, 40px na esquerda e na direita */
     margin: 20px;
     /* 20px em todas as direções */
     margin: 0;

     padding-top: 20px;
     padding-right: 20px;
     padding-bottom: 20px;
     padding-left: 20px;

     padding: 20px 20px 20px 20px;
     /* 20px em cima, 20px na direita, 20px embaixo e 20px na esquerda */
     padding: 20px 50px 30px;
     /* 20px em cima, 50px na esquerda e 30px na direita */
     padding: 20px 40px;
     /* 20px em cima e embaixo, 40px na esquerda e na direita */
     padding: 20px;
     /* 20px em todas as direções */
 }

 h2 {
     font-size: 0.9em;
     font-family: Arial, Helvetica, sans-serif;
 }

 p {
     font-size: 0.8em;
     font-family: Arial, Helvetica, sans-serif;
 }

 main {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     /* Todos os elementos dentro da tag main serão organizados de forma flexível. */
 }

 article {
     background: #EFEFEF;
     margin: 1vw;
     padding: 1vw;
     border-radius: 1vw;
     box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
     transition: all .6s;
     /* Animação de 0.6 segundos */
 }

 .pagina-inicial article {
     width: 46vw;
     /* VW é a unidade de medida que calcula o tamanho da largura da tela do usuário */
 }

 .pagina-inicial .destaque {
     width: 100vw;
     background: #98E2E4;
     /* VW é a unidade de medida que calcula o tamanho da largura da tela do usuário */
 }

 ul {
     display: flex;
     /* Todos os elementos dentro da tag ul são organizados de forma flexivel*/
     /* list-style: upper-roman;  Estiliza a lista com números romanos */
     margin: 1em;
     list-style: none;
     background: #333;
 }

 li {
     margin: 0.5em;
 }

 nav a {
     color: #fff;
     text-decoration: line-through;
 }

 nav a:hover {
     color: #D507E3;
     text-decoration: underline;
 }

 article a {
     color: #D507E3;
     text-decoration: none;
 }

 footer {
     background: #98E2E4;
     text-align: center;
     padding: 1em;
 }

 h6 {
     font-size: 0.7em;
     font-family: Arial, Helvetica, sans-serif;
 }

 .noticia {
     font-size: 21px;
     line-height: 1.6;
     word-spacing: 2px;
 }

 .noticia p {
     margin: 1em;
 }

 .imagem-noticia {
     width: 100%;
 }

 .btn-exemplo {
    background: #D507E3;
    height: 10vh;
    width: 10vw;
    border-radius: 10vw;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #AAA;
    z-index: 1000;
 }

 .btn-exemplo-superior {
    background: #336699;
    height: 10vh;
    width: 10vw;
    border-radius: 10vw;
    position: fixed;
    top: 0;
    left: 40px;
    cursor: pointer;
    z-index: 900;
    box-shadow: 3px 3px 3px #AAA;
 }